

<ion-content>
  <ion-header>
      <ion-header translucent>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
  </ion-header>
  
  <div class="logoStarWars">
    <img alt="StarWars" src="assets/starwars.jpg"/>
    </div>
    
  <h3>Sobre</h3>
  <p>Star Wars (Guerra nas Estrelas) é o título de uma "ópera espacial", nas próprias palavras do seu autor que assim designou o universo de fantasia que compunha este projeto, que foi transformada em uma série de nove filmes de ficção científica. Como subprodutos surgiram também uma franquia literária, uma série de jogos eletrônicos e desenhos animados (incluindo a Nova Trilogia, sequências e adaptações literárias) baseados nas idéias do diretor e roteirista George Lucas.
  Os filmes, organizados em duas trilogias, abordam a transição histórica "numa galáxia muito, muito distante..." onde ocorre a queda da República Galáctica e a implantação do Império Galáctico sob comando do senador Palpatine (Lorde Sith)."</p>
  <h3>Principais Personagens</h3>

  <div class="Personagens">
    <p>Luke Skywalker</p>
    <img  src="assets/luke-300x300.png" />
  </div>
  <div class="Personagens">
    <p>Princesa Leia</p>
    <img  src="assets/leia-1-300x300.png" />
  </div>
  <div class="Personagens">
    <p>Han Solo</p>
    <img  src="assets/han_solo-300x300.png" />
  </div>
  <div class="Personagens">
    <p>Darth Vader</p>
    <img  src="assets/darth_vader-300x300.png" />
  </div>
  <div class="Personagens">
    <p>Yoda</p>
    <img  src="assets/yoda-300x300.png" />
  </div>
  <div class="Personagens">
    <p>Stormtrooper</p>
    <img  src="assets/stormtrooper-300x300.png" />
  </div>

</ion-content>
