<!-- <ion-toolbar color="dark">
  <ion-title>Star Wars</ion-title>
</ion-toolbar> -->

<ion-content>

  <div class="logoStarWars">
    <img alt="StarWars" src="assets/starwars.jpg"/>
    <ion-row>
      <ion-col>
        <button ion-button full class="btnSobre" (click)="verSobre()">Sobre</button>
      </ion-col>
      <ion-col>
        <button ion-button full class="btnFilmes" (click)="verFilmes()">Filmes</button>
        <button ion-button full class="btnFilmes" (click)="verFilmes()">Filmes</button>
        <button ion-button full class="btnFilmes" (click)="verFilmes()">Filmes</button>
      </ion-col>
    </ion-row>
    
  </div>

<!-- 
  <ion-fab bottom left>
    <button ion-fab menuToggle class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-fab> -->

  
  
    
  
</ion-content>
